img {
    width: 1920px;
    height: 1080px;
}

#obs {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
    font-family: "Goldman", sans-serif;

    #imgdebug {
        display: none;
    }

    // background-color: #000;
    #game {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }

        .game-name {
            font-size: 24px;
            color: #FFF;
            font-weight: 600;
            text-shadow: 1px 1px 3px black;
            position: absolute;
            top: 542px;
            left: 0px;
            width: 474px;
            height: 33px;
            text-align: center;
            text-overflow: clip;
            overflow: hidden;
        }

        .runner-name {
            font-size: 28px;
            font-weight: 600;
            position: absolute;
            top: 75px;
            left: 61px;
        }

        .host {
            color: #FFF;
            font-weight: 600;
            font-size: 20px;
            position: absolute;
            top: 499px;
            left: 294px;
            width: 176px;
            text-overflow: clip;
            overflow: hidden;
        }

        .category {
            position: absolute;
            top: 745px;
            left: 0;
            font-size: 24px;
            font-weight: bold;
            width: 474px;
            text-align: center;
            text-overflow: clip;
            overflow: hidden;
        }

        .est {
            position: absolute;
            top: 798px;
            left: 0;
            font-size: 30px;
            font-weight: 600;
            width: 474px;
            text-align: center;
        }

        .timer {
            position: absolute;
            font-size: 44px;
            top: 609px;
            left: 0px;
            width: 474px;
            text-align: center;
            font-weight: 600;
        }

        .couch1,
        .couch2,
        .couch3 {
            color: #FFF;
            font-weight: 600;
            font-size: 20px;
            position: absolute;
            width: 176px;
            text-overflow: clip;
            overflow: hidden;
        }

        .couch1 {
            top: 449px;
            left: 54px;
        }

        .couch2 {
            top: 449px;
            left: 294px;
        }

        .couch3 {
            top: 499px;
            left: 54px;
        }
    }

    #game43 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }

        .game-name {
            font-size: 30px;
            color: #FFF;
            font-weight: 600;
            text-shadow: 1px 1px 3px black;
            position: absolute;
            top: 501px;
            left: 0px;
            width: 720px;
            height: 33px;
            text-align: center;
        }

        .runner-name {
            font-size: 28px;
            font-weight: 600;
            position: absolute;
            top: 75px;
            left: 61px;
        }

        .host {
            color: #FFF;
            font-weight: 600;
            font-size: 25px;
            position: absolute;
            top: 620px;
            left: 423px;
        }

        .category {
            position: absolute;
            top: 745px;
            left: 0;
            font-size: 24px;
            font-weight: bold;
            width: 720px;
            text-align: center;
        }

        .est {
            position: absolute;
            top: 798px;
            left: 0;
            font-size: 30px;
            font-weight: 600;
            width: 720px;
            text-align: center;
        }

        .timer {
            position: absolute;
            font-size: 44px;
            top: 893px;
            left: 0px;
            width: 720px;
            text-align: center;
            font-weight: 600;
        }

        .couch1,
        .couch2,
        .couch3 {
            color: #FFF;
            font-weight: 600;
            font-size: 25px;
            position: absolute;
        }

        .couch1 {
            top: 559px;
            left: 61px;
        }

        .couch2 {
            top: 559px;
            left: 423px;
        }

        .couch3 {
            top: 620px;
            left: 61px;
        }
    }

    #intermission {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }

        .game-name1,
        .game-name2,
        .game-name3 {
            font-size: 23px;
            color: #3b52a4;
            font-weight: 600;
            text-shadow: 1px 1px 3px black;
            position: absolute;
            top: 67px;
            left: 267px;
        }

        .game-name2 {
            top: 247px;
        }

        .game-name3 {
            top: 429px;
        }

        .runner-name1,
        .runner-name2,
        .runner-name3 {
            font-size: 23px;
            position: absolute;
            top: 100px;
            left: 267px;
        }

        .runner-name2 {
            top: 282px;
        }

        .runner-name3 {
            top: 465px;
        }

        .est1,
        .est2,
        .est3 {
            font-size: 20px;
            position: absolute;
            top: 85px;
            left: 47px;
            width: 147px;
            text-align: center;
        }

        .est2 {
            top: 265px;
        }

        .est3 {
            top: 445px;
        }

        .category1,
        .category2,
        .category3 {
            position: absolute;
            font-size: 23px;
            top: 100px;
            right: 1051px;
        }

        .category2 {
            top: 282px;
        }

        .category3 {
            top: 465px;
        }
    }

    #race1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }

        .game-name1 {
            font-size: 32px;
            color: #3b52a4;
            font-weight: 600;
            text-shadow: 1px 1px 3px black;
            position: absolute;
            top: 34px;
            left: 234px;
        }

        .runner-name1,
        .runner-name2 {
            font-size: 36px;
            position: absolute;
            top: 755px;
            left: 272px;
        }

        .runner-name2 {
            left: 1070px;
        }

        .timer {
            position: absolute;
            font-size: 40px;
            top: 34px;
            right: 35px;
        }
    }

    #race2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }

        .game-name1 {
            font-size: 32px;
            color: #3b52a4;
            font-weight: 600;
            text-shadow: 1px 1px 3px black;
            position: absolute;
            top: 34px;
            left: 234px;
        }

        .runner-name1,
        .runner-name2 {
            font-size: 27px;
            position: absolute;
            top: 783px;
            left: 281px;
            display: none;
        }

        .runner-name2 {
            left: 1328px;
        }

        .timer {
            position: absolute;
            font-size: 40px;
            top: 34px;
            right: 35px;
        }
    }

    #race3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }

        .game-name1 {
            font-size: 32px;
            color: #3b52a4;
            font-weight: 600;
            text-shadow: 1px 1px 3px black;
            position: absolute;
            top: 640px;
            left: 1371px;
            width: 507px;
            text-align: center;
        }

        .host {
            width: 216px;
            color: #333;
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: 239px;
            left: 741px;
        }

        .runner-name1,
        .runner-name2 {
            font-size: 27px;
            position: absolute;
            top: 783px;
            left: 281px;
            display: none;
        }

        .runner-name2 {
            left: 1328px;
        }

        .timer {
            position: absolute;
            font-size: 40px;
            top: 34px;
            right: 35px;
        }
    }
}